.page-head
	position: relative
	height: 288px
	+cover
	+r($s)
		height: 195px
	&:before
		content: ""
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		background: rgba(#000,.3)
	.valign-wrapper
		height: 288px
		+r($s)
			height: 195px
	.valign
		width: 100%
	&__title
		color: #fff
		font-size: 37px
		+f900
		+r($s)
			font-size: 24px
.page-nav
	+clr
	margin: 20px 0 
	&__action
		float: right
		+r($s)
			float: none
			clear: both
.breadcrumbs
	float: left
	margin-left: -15px
	font-size: 17px
	+f300
	+r($m)
		font-size: 15px
		margin-left: -5px
	a, span
		display: inline-block
		margin-right: 30px
		vertical-align: middle
		position: relative
		padding: 10px 15px
		+r($m)
			padding: 5px 
			margin-right: 10px
	a
		color: #727271 
		+tr(color .3s)
		&:after
			content: "/"
			position: absolute
			right: -19px
			top: 10px
			pointer-events: none
			color: #727271
			+r($m)
				top: 5px
				right: -10px
		&:hover
			color: $red 
			&:after
				color: #727271 
	.is-active
		color: $red 
		
.feedback
	position: relative
	padding: 20px 35px 10px
	margin-bottom: 40px
	background: #dce3e3
	border-radius: 4px 
	+r($l)
		margin: 20px 0 40px 
	+r($m)
		padding-bottom: 25px
	&__head
		display: table
		margin-bottom: 15px
		width: 100%
		table-layout: fixed
	&__title
		display: table-cell
		font-size: 21px
		+f700
		color: #3d3e43
	&__info 
		display: table-cell
		color: #8f8f8f
		font-size: 15px
		+f500 
		text-align: right
		+r($m)
			position: absolute
			right: 63px
			width: 150px
			text-align: center
			top: 220px
		+r($s)
			display: none
	&__main
		+clr
		position: relative
		padding-right: 200px
		+r($m)
			padding-right: 0
	&__form
		padding-right: 150px
		+r($m)
			padding-right: 250px
		+r($s)
			padding-right: 0
	&__input
		float: left
		margin-left: 4.7%
		width: 47.5%
		&:first-child
			margin-left: 0
		.field
			margin-bottom: 0
		+r($m)
			float: none
			margin-left: 0
			margin-bottom: 25px
			width: 100%
	&__btn
		position: absolute
		right: 0
		top: 0
		width: 200px
		padding-left: 4.7%
		+r($m)
			position: relative
			padding-left: 0
			width: 100%
	&__text
		padding-top: 12px
		color: #8f8f8f
		font-size: 13px
		+f500 
		+r($m)
			display: none
		a
			color: #312d2d
			+tr(color .3s)
			&:hover
				color: $red 
	&__img
		position: absolute
		right: 40px
		bottom: 0
		+r($m)
			right: 70px
			bottom: auto
			top: 25px 
		+r($s)
			display: none
	&__img2
		display: none
		+r($m)
			display: block
		+r($s)
			display: none
.is-fixed-sort
	.page-head
		margin-bottom: 75px
		+r($s)
			margin-bottom: 0
	.sort-wrap
		position: fixed
		top: 75px
		right: 0
		left: 0		
		z-index: 9
		+r($s)
			position: static
.sort-wrap
	background: #fff 
	&__table
		display: table
		width: 100%
		
	.sort
		display: table-cell
		padding-right: 9%
		vertical-align: top 
		+r($l)
			padding-right: 6%
		+r($m)
			display: none

	.sort_all
		display: none
		+r($m)
			display: table-cell
		.dropdown__list
			height: 240px
	.sort_btn
		padding-right: 0
		text-align: right
		+r($m)
			display: table-cell
	.collapsible
		box-shadow: none
		margin: 0
		border: 0 
		.ui-custom-slider
			margin: 27px 15px 45px 27px 
.sort
	position: relative
	&__trigger
		display: inline-block
		position: relative
		height: 75px
		line-height: 75px
		padding-right: 19px
		+f300
		color: #727271
		font-size: 17px 
		background: none
		white-space: nowrap
		&.is-filled
			color: $blue 
		&:after
			content: "\e601"
			position: absolute
			right: 0
			top: 50%
			margin-top: -3px
			+icon
			font-size: 6px
			color: #878787
		span
			+r($s)
				display: none
	&__reset
		height: 75px
		line-height: 75px
		background: none  
		font-size: 17px
		color: $red
		+f700 
		&:hover
			span
				border-color: transparent 
		&[disabled]
			pointer-events: none
			color: #b2b3b3
		span
			border-bottom: 1px dashed 
	.dropdown
		left: 0
		&:before,
		&:after
			right: auto
		&:before
			left: 19px
		&:after
			left: 20px
	.sort__title
		display: inline-block
.sort_single
	.sort__title
		margin-right: 15px
	.sort__trigger
		color: #727271
		height: 42px
		line-height: 42px
		+f700 
		&:after
			color: $red 
		&.is-active
			&:after
				+rotate(180deg)
.google-map
	position: relative
	height: 85px
	transition: height .3s
	overflow: hidden
	

	&.is-active
		height: 595px
		+r($l)
			height: 60vh
	&__in
		height: 595px
		position: relative
		z-index: 1
		+r($l)
			height: 60vh
	&__head
		position: absolute
		z-index: 2
		top: 0
		left: 0
		right: 0
		color: #3d3e43
		height: 85px
		line-height: 85px
		font-size: 17px
		+f300
		background: rgba(#fff,.6) 
		-webkit-backdrop-filter: blur(10px)
		backdrop-filter: blur(10px)
		.row
			> div
				&:last-child
					text-align: right
					+r($m)
						text-align: left
				+r($m)
					height: 42px
					line-height: 42px
		button
			font-size: 17px
			background: none
			&:hover
				span
					color: $red  
			&.is-active
				span
					border-color: transparent 
			span
				display: inline-block
				vertical-align: middle
				color: #3d3e43
				+f300
				+tr(color .3s)
				border-bottom: 1px dashed
			i
				margin-left: 13px
				font-size: 24px
				color: $red
				vertical-align: middle 
		a
			color: $blue
			+f700
			+tr(color .3s)
			&:hover
				color: darken($blue, 5%)
		span
			color: $red 
			+f700
	&__info
		+text-overflow
	&__hidden
		display: none
	.infoBox
		> img
			display: none