html
	+selection
		background: rgba($red, .5)
		color: #fff 
body
	font-size: 14px
	line-height: 1.3
	color: $dark 
	min-width: 320px
	+f500
	background: #F5F5F5 
.wrap
	+clr
.header__bottom,
.menu,
.search__main
	visibility: hidden
.pace-done
	.header__bottom,
	.menu,
	.search__main
		visibility: visible
// .pace-running
// 	.header__bottom,
// 	.menu,
// 	.search__main
// 		visibility: hidden
	
.out
	overflow: hidden
	margin: 0 auto -276px
	position: relative
	min-height: 100%
	height: auto !important
	height: 100%
	+r($l)
		margin-bottom: -303px
	+r($m)
		margin-bottom: 0
	&:after
		content: "" 
		display: block
		clear: both
		height: 276px
		+r($l)
			height: 303px
		+r($m)
			height: 0
.main
	padding-top: 75px
	+r($s)
		padding: 50px 0
	&_foot
		padding-bottom: 80px 
.logo
	display: block
	+svg(logo,134,32)
	+hide-text

	img
		display: block
a
	text-decoration: none

.field
	display: block
	margin-bottom: 25px
	+r($m)
		margin-bottom: 32px
	+r($s)
		margin-bottom: 25px
	&__title
		display: block
		margin-bottom: 5px
		min-height: 22px
		font-size: 17px
		color: #686868
		+f700 
		min-width: 1px
		+r($s)
			font-size: 15px
	&__body
		position: relative
		display: block
	.icon-invalid
		position: absolute
		right: 23px
		top: 14px
		color: #ef5f54
		font-size: 22px
		display: none
	.icon-valid
		position: absolute
		right: 17px
		top: 14px
		color: $green
		font-size: 15px
		display: none
	label
		&.has-error
			display: none !important
.field_group
	box-shadow: 0 0 0 1px #2e2e2e
	border-radius: 4px 
	.field__body
		.input
			border-radius: 0
			box-shadow: none
			border-top: 1px solid #58595b 
			&.has-error
				border: 0
				box-shadow: 0 0 0 2px #ef5f54, inset 0 0 0 1px #ef5f54
				+ label
					+ .icon-invalid
						display: block
				+ .icon-invalid
					display: block
			&.valid
				border: 0
				box-shadow: 0 0 0 2px $green, inset 0 0 0 1px $green
				+ label
					+ .icon-invalid
						+ .icon-valid
							display: block
				+ .icon-invalid
					+ .icon-valid
						display: block
		&:first-child
			.input
				border-radius: 4px 4px 0 0
				border: 0
		&:last-child
			.input
				border-radius: 0 0 4px 4px
.input
	display: block
	padding: 0 25px 
	width: 100%
	height: 50px
	font-size: 15px
	color: $dark
	+f500
	background: #fff 
	border-radius: 3px
	+tr(box-shadow .3s)
	box-shadow: inset 0 0 0 1px #fff
	+placeholder
		color: $gray_l
	&:focus
		box-shadow: inset 0 0 0 1px $border
	&.has-error
		box-shadow: 0 0 0 2px #ef5f54, inset 0 0 0 1px #ef5f54
		+ label
			+ .icon-invalid
				display: block
		+ .icon-invalid
			display: block
	&.valid
		box-shadow: 0 0 0 2px $green, inset 0 0 0 1px $green
		+ label
			+ .icon-invalid
				+ .icon-valid
					display: block
		+ .icon-invalid
			+ .icon-valid
				display: block
	&_border
		border: 1px solid #d9d9d9
		border-bottom-color: #EBEBEB 
		 
		&:focus
			box-shadow: 0 2px 0 #ebebeb
	&_textarea
		height: 125px
		padding: 15px 25px 
		resize: none
		border: 0
	&_dark
		background: #686868 
		color: #fff 

.checkbox
	display: block
	position: relative
	cursor: pointer
	input
		position: absolute
		opacity: 0
		&:checked
			+ .checkbox__text
				&:after
					visibility: visible
					transform: translate3d(0,0,0) rotate(0)
	&__text	
		position: relative
		font-size: 19px
		+f300
		color: #727271 
		padding-left: 37px
		+nosel
		&:before
			content: ""
			position: absolute
			left: 0
			top: 1px
			width: 19px
			height: 19px
			border-radius: 2px
			border: 1px solid $gray_l
		&:after
			visibility: hidden
			content: "\e604"
			position: absolute
			left: 4px
			top: 6px
			+icon 
			font-size: 9px
			color: $blue 
			transform: translate3d(0,0,0) rotate(-90deg)
			transition: transform, opacity, .3s

.radio
	display: block
	position: relative
	cursor: pointer
	input
		position: absolute
		opacity: 0
		&:checked
			+ .radio__text
				&:after
					visibility: visible
					box-shadow: 0 0 0 3px $blue 
	&__text	
		position: relative
		font-size: 19px
		+f300
		color: #727271 
		padding-left: 37px
		+nosel
		&:before
			content: ""
			position: absolute
			left: 0
			top: 1px
			width: 19px
			height: 19px
			border-radius: 50%
			border: 1px solid $gray_l
		&:after
			visibility: hidden
			content: "" 
			position: absolute
			left: 8px
			top: 9px
			width: 3px
			height: 3px
			-webkit-border-radius: 50% 
			border-radius: 50% 
			background: $blue 
			transition: box-shadow .3s
		
.dropdown
	position: absolute
	top: 100%
	right: -11px
	margin-top: 9px
	+f500
	font-size: 17px
	text-align: left
	z-index: 5
	opacity: 0
	visibility: hidden
	+gpu
	white-space: nowrap
	border: 1px solid #d7d8d8
	border-radius: 5px
	min-width: 105px
	background-color: #fff
	padding: 8px 8px 8px 0
	+tr(opacity .5s)
	&_service
		min-width: 267px
	&_slider
		width: 300px
		.dropdown__list
			height: 90px
	&.is-active
		opacity: 1
		visibility: visible
	&:after
		content: "" 
		position: absolute
		top: -12px
		z-index: 7
		right: 20px
		+arr(18,12,#fff,t)
	&:before
		content: "" 
		position: absolute
		top: -13px
		right: 19px
		z-index: 6
		+arr(20,13,#d7d8d8,t)
	&__list
		padding-right: 8px
		padding-top: 8px
		max-height: 240px
		overflow-y: auto
		overflow-x: hidden
		+scrollbar
			width: 4px
			height: 4px
			border-radius: 2px
			background: #bdbdbd
		+scrollbar-thumb
			background: #898989
			border-radius: 2px
		li
			position: relative
			.btn-del
				position: absolute
				right: 0
				top: 5px
			&.is-disaled
				a, span
					color: #d9dada
					pointer-events: none
					cursor: default
	a, span
		display: block
		padding: 6px 5px 6px 20px
		+tr(color .3s)
		color: $gray 
		&:hover
			color: $red
	.checkbox,
	.radio
		margin: 10px 18px
		span
			padding: 0 0 0 37px
	.counter
		top: 7px
.btn-del
	width: 18px
	height: 18px
	background: #d9d9d9
	color: #898989 
	font-size: 8px
	-webkit-border-radius: 50% 
	border-radius: 50% 
	line-height: 1
	transition: color .3s, background .3s
	&:hover
		background: $red
		color: #fff 
	i
		vertical-align: middle
	
.counter
	position: absolute
	z-index: 3
	padding: 2px 6px 1px
	line-height: 1  
	-webkit-border-radius: 15px 
	border-radius: 15px 
	font-size: 12px
	+f700
	color: #fff 
	background: $red
	font-style: normal
	 
.title
	margin-bottom: 5px
	font-size: 32px
	+f700
	color: $gray_d
	text-align: center
	span
		color: $red 
	+r($s)
		font-size: 28px
	+r($sr)
		font-size: 24px
	&_big
		font-size: 36px
		+f500
		+r($s)
			font-size: 28px
		+r($sr)
			font-size: 24px
	&_bold
		+f700
.subtitle
	margin: 5px 0 30px 
	font-size: 18px
	+f500
	color: $gray
	text-align: center
	+r($sr)
		font-size: 16px
	span
		color: $red 
.item
	display: block
	position: relative
	overflow: hidden
	width: 241px
	height: 216px
	border-radius: 5px 
	overflow: hidden
	color: #fff
	+f300
	text-align: center 
	+r($m)
		width: 200px
		height: 179px
	&:hover
		.item__back
			background: rgba(#3c3d41,.9)
			transform: translateY(0) 
			transition: background .3s .3s, transform .3s
		.item__text
			opacity: 1
	&__img
		height: 216px
		+r($m)
			height: 179px
		img
			display: block
			max-width: 200% !important
			height: 100%
			+r($m)
				height: auto
				width: 100%
	&__back
		position: absolute
		top: 0
		left: 0
		right: 0
		height: 100%
		padding: 40px
		background: rgba(#3c3d41,0) 
		transition: background .3s, transform .3s
		overflow: hidden
		border-radius: 5px 
		transform: translateY(134px)
		+r($m)
			padding: 10px 
			transform: translateY(120px)
	&__title
		margin-bottom: 16px
		font-size: 14px
		+f900
		text-transform: uppercase
	&__text
		font-size: 13px
		padding-top: 17px
		position: relative
		+gpu
		opacity: 0
		transition: opacity .1s
		&:before
			content: ""
			position: absolute
			left: 50%
			top: 0
			margin-left: -25px
			height: 2px
			width: 50px
			background: $red 
	.amount
		position: absolute
		left: 0
		right: 0
		bottom: 16px

.amount
	font-size: 13px
	+f700
	color: #fff 
	span
		color: $blue 
		+f900

.slider
	position: relative
	margin-bottom: 45px
	opacity: 0
	visibility: hidden
	//+gpu
	+tr(opacity .3s)
	&.is-ready
		opacity: 1
		visibility: visible
	&.has-shadow
		margin: -5px 
		margin-bottom: 25px
		+r($m)
			padding: 0
			margin: 0 0 25px
		.slick-list
			padding: 5px 
	.slick-slider
		overflow: hidden
	.slick-list
		margin-right: -15px
		+r($l)
			margin-right: 0
	.item,
	.el,
	.card
		+r($l)
			margin: 0 auto 
	.el
		+r($sr)
			width: 254px
			height: 236px
	.el__img
		+r($sr)
			width: 254px
			height: 236px
	&__prev,
	&__next
		position: absolute
		top: 50%
		width: 50px
		height: 50px
		margin-top: -25px
		font-size: 26px
		background: none
		text-align: center
		color: #8f8f8f													
		+tr(color .3s)
		+r($s)
			display: none
		&:hover
			color: $red
	&__prev
		left: -114px
		+r($l)
			left: -50px
		+r($s)
			left: -40px
	&__next
		right: -114px
		+r($l)
			right: -50px
		+r($s)
			right: -40px
	

.cards-wrap
	margin-bottom: 40px
	+clr
	.card
		float: left
		width: 240px
		margin: 0 20px 20px 0
		+r($l)
			width: 214px
		+r($m)
			width: 206px
		+r($s)
			width: 219px
			margin: 0 auto 20px 
			float: none
		&:nth-child(4n)
			margin-right: 0
			+r($m)
				margin-right: 20px
		&:nth-child(3n)
			+r($m)
				margin-right: 0
			+r($s)
				margin-right: auto
		&:nth-child(2n)
			+r($s)
				margin-right: auto
	.card__img
		+r($l)
			height: 185px
		+r($m)
			height: 178px
.card
	position: relative
	cursor: pointer
	overflow: hidden
	width: 241px
	border-radius: 5px
	border-bottom: 1px solid $border 
	color: #fff 
	text-align: center
	background: #FEFEFE 
	+tr(box-shadow .3s)
	+r($m)
		width: 200px
	&:hover
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16)
	&.is-active
		cursor: default
		.card__img
			&:before
				background: rgba(#292929, .88)
		.card__title
			right: 20px
			text-align: center
		.card__info
			color: $blue 
			text-align: center
		.card__action
			opacity: 1
			visibility: visible
	&__img
		height: 210px
		position: relative
		border-radius: 5px 5px 0 0
		overflow: hidden
		+r($m)
			height: 170px
		&:before
			content: ""
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			z-index: 2 
			+gpu
			background: rgba(#000,.5)  
			border-radius: 5px 5px 0 0 
			+tr(background .3s)
		img
			display: block
			width: auto
			height: 100%
			+r($m)
				height: auto
				width: 100%
		
	&__title
		position: absolute
		left: 20px
		top: 20px
		right: 50%
		margin-bottom: 16px
		font-size: 14px
		+f900
		z-index: 3
		line-height: 1.2 
		text-align: left
		+gpu
		text-transform: uppercase
	&__info
		position: absolute
		left: 20px
		bottom: 16px
		right: 20px
		z-index: 3
		font-size: 13px
		+f500
		text-align: left
		+gpu
		+tr(color .3s)
		display: none
		+r($s)
			display: block
	&__action
		position: absolute
		top: 90px
		left: 0
		right: 0
		z-index: 3
		opacity: 0
		visibility: hidden
		+gpu
		+tr(opacity .3s)
		+r($m)
			top: 60px
	&__name
		border-bottom: 1px solid #d9dada
		padding: 14px 35px 
		font-size: 13px
		+f900
		text-transform: uppercase
		color: #000
		text-align: left
		a
			color: #000
			+tr(color .3s)
			&:hover
				color: $blue 
	.link-icon-wrap
		margin-top: 8px
	&__main
		height: 63px
		line-height: 63px
.card_map
	width: 260px
	overflow: visible
	+r($s)
		width: 200px
		margin: 55px 0 0 30px 
	&:after
		content: ""
		position: absolute
		bottom: -10px
		z-index: 2
		left: 50%
		margin-left: -9px
		+arr(18,10,#fff,b) 
	&:before
		content: ""
		position: absolute
		bottom: -11px
		z-index: 2
		left: 50%
		margin-left: -10px
		+arr(20,11,$gray_l,b) 
	&.is-active
		.card__info
			text-align: left
	.card__img
		display: block
		height: auto
		img
			width: 100%
	.card__action
		top: 58px
		+r($s)
			top: 25px
	.card__info
		display: block
		text-align: left
		font-size: 17px
		color: $blue 
		+r($s)
			font-size: 14px
	.card__main
		height: 42px
		line-height: 42px
		+r($s)
			height: 36px
			line-height: 36px
	.card__name
		+r($s)
			padding: 10px 20px 
			font-size: 12px
	.count
		+r($s)
			margin-left: 15px
.btn-gray-wrap
	text-align: center
	margin-bottom: 24px
.btn-gray 
	display: inline-block
	background-color: #d9dada
	color: #333
	font-size: 10px
	+f700
	text-transform: uppercase
	height: 31px
	line-height: 31px
	border-radius: 4px 
	padding: 0 31px 
	transition: background-color .2s
	&:hover
		background-color: darken(#d9dada,5%) 

.btn-simple-wrap
	text-align: center
	margin-bottom: 47px
.btn-simple
	display: inline-block
	vertical-align: middle
	border: 2px solid $border
	padding: 0 22px 
	border-radius: 4px 
	height: 38px
	line-height: 38px
	text-align: center
	text-transform: uppercase
	font-size: 12px
	+f900
	color: #898989
	transition: border .3s
	&:hover
		border-color: #898989 
	&_red
		padding: 0 28px
		border-color: $red
		color: #fff 
		&:hover
			border-color: $red_h 
.link-icon
	display: inline-block
	font-size: 13px
	+f500
	color: #fff 
	span
		border-bottom: 1px solid rgba(#fff,.5)
		+tr(border .3s)
	&:hover
		span
			border-color: transparent 
		.icon-star
			color: $yellow 
	i
		margin-left: 4px
	.icon-star
		color: #fcd45a
		+tr(color .3s)
		
.title-group
	margin: 15px 0 
	font-size: 21px
	+f700
	color: #333 
	&_white
		color: #ebebeb 
.box-wrap
	font-size: 0
	&_width
		margin: 0 -73px 
		padding: 8.8% 0 5.3% 
		+r($s)
			margin: 0
.box
	display: inline-block
	vertical-align: top
	margin: 0 0 3.95% 3.95%
	padding: 33px 25px 20px 
	width: 30.7%
	min-height: 337px
	background: #fff
	border-bottom: 1px solid $border
	border-radius: 5px   
	font-size: 18px
	color: #898989
	+f500
	text-align: center
	line-height: 1.2 
	+tr(box-shadow .3s)
	+r($m)
		width: 47.5%
		margin: 0 0 5% 5% 
	+r($s)
		width: 100%
		margin: 0 0 5%
	&:nth-child(3n+1)
		margin-left: 0
	&:hover
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16)
	.icon-quotes
		display: block
		margin-bottom: 35px
		font-size: 25px
		color: $orange 
	&__title
		margin: 15px 0 20px
		height: 65px
		overflow: hidden
		font-size: 18px
		color: #898989
		+cyr_500
		+r($s)
			font-size: 16px
		a
			color: #898989 
			+tr(color .3s)
			&:hover
				color: $orange
	&__icon
		display: block
		height: 65px
		color: $red 
		.i-trust
			font-size: 39px
		.i-fast_access
			font-size: 42px
		.i-no_cash
			font-size: 47px
		.i-free
			font-size: 46px
	&__text
		color: #898989
		+f300
		font-size: 16px
		line-height: 1.4
		+r($s)
			font-size: 14px
	
	.user-info
		padding-top: 30px
		&:before
			content: ""
			position: absolute
			left: 50%
			top: 0
			margin-left: -31px
			width: 62px 
			height: 2px
			background: $orange 
.box_small
	position: relative
	padding: 38px 25px 25px 
	margin: 0 2% 0 0
	min-height: 420px
	width: 23%
	+r(1140)
		min-height: 460px
	+r($m)	
		width: 48%
		margin-bottom: 2%
		min-height: 400px
	+r($s)
		width: 100%
		min-height: auto
		padding-bottom: 50px
		margin: 0 0 20px 

	&:nth-child(4n)
		margin-right: 0
	.box__title
		margin-bottom: 15px
		+f300
		color: $gray 
		+r($s)
			height: auto
	&:after
		content: ""
		position: absolute
		left: 50%
		bottom: 25px
		margin-left: -31px
		width: 62px 
		height: 2px
		background: $orange 
.box_large
	display: block
	margin: 50px 0
	padding: 15px 170px 30px 25px 
	width: 100%
	text-align: left
	min-height: auto
	+r($m)
		padding-right: 25px
	+r($s)
		margin: 20px 0 
	.list-icon
		margin-top: 43px
.tag
	display: inline-block
	vertical-align: top
	border: 2px solid $border
	padding: 4px 10px 3px
	font-size: 10px
	border-radius: 4px 
	+f700
	line-height: 1 
	text-transform: uppercase
	color: #B2B3B3 
	transition: border, color .3s
	&:hover
		border-color: #686868 
		color: #686868 
	&_dark
		color: #8F8F8F 
.tags-cloud
	margin-top: 16px
	+r($s)
		margin-top: 10px
	.tag
		margin-right: 15px
		margin-top: 14px
		&:last-child
			margin-right: 0
		
.user-info
	position: relative
	text-align: center
	white-space: nowrap
	.slick-next,
	.slick-prev
		visibility: hidden
	.pic
		display: inline-block
		vertical-align: top
		margin-right: 15px
		width: 44px
		height: 44px
	.meta
		font-size: 12px
	&_vertical
		text-align: center
		.pic
			width: 71px
			height: 71px
			float: none
			display: inline-block
			margin-right: 0
			+r($s)
				width: 44px
				height: 44px
		.user-info__main
			display: block
			overflow: visible
			text-align: center
		.user-info__name
			font-size: 11px
		.meta
			font-size: 11px
			+f500
	&_someone
		text-align: center
		.pic
			width: 92px
			height: 92px
			float: none
			margin-right: 0
			display: inline-block
			+r($m)
				width: 71px
				height: 71px
			+r($s)
				width: 44px
				height: 44px
		.user-info__main
			display: block
			overflow: visible
			text-align: center
		.user-info__name
			font-size: 9.75px
			color: #838c8b
			+cyr_500
			width: 140px
			line-height: 1 
			text-transform: none 
			+r($l)
				width: 112px
			+r($m)
				width: 100px
			+r($s)
				width: 80px

	&__main
		display: inline-block
		vertical-align: top
		white-space: normal
		text-align: left
	&__name
		display: inline-block
		margin-bottom: 3px
		font-size: 13px
		+f900
		color: $dark
		+tr(color .3s)
		text-transform: uppercase
		&:hover
			color: $red 
		span
			display: block
	&__soc
		margin-top: 24px
		+r($l)
			margin-top: 20px
		+r($m)
			margin-top: 15px
		+r($s)
			margin-top: 10px 
		
		
.masonry-items
	margin-top: 35px
	margin-right: -50px
	+r($s)
		margin-right: 0
	+ .ad
		margin-top: 0
.masonry-items_l
	margin-right: 0
	+r($l)
		margin-right: -50px
	+r($s)
		margin-right: 0
.post
	display: block
	position: relative
	border-radius: 4px 
	background: #fff
	border-bottom: 1px solid $border  
	margin: 0 3.7% 3.95% 0
	width: 29.3%
	// width: 314px
	// margin-bottom: 47px
	// margin-right: 40px
	overflow: hidden
	+tr(box-shadow .3s)
	+r($m)
		margin: 0 5% 5% 0
		width: 43.9%
	+r($s)
		width: 100%
		margin: 0 0 5%
	&:hover
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16)
		.post__title
			color: $orange 
		.post__media
			&:before
				opacity: 1
	&__media
		position: relative
		display: block
		z-index: 2
		&:before
			content: ""
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			z-index: 1
			border-radius: 4px 4px 0 0 
			opacity: 0.7
			+gpu
			+tr(opacity .3s)
			background-image: linear-gradient(rgba(#000,0), rgba(#000,.7)) 
		img
			display: block
			width: 100%
			height: auto 
			border-radius: 4px 4px 0 0 
		.badge
			position: absolute
			top: 24px
			left: 24px
			z-index: 3
	&__info
		position: absolute
		left: 24px
		bottom: 20px
		z-index: 3
		font-size: 17px
		color: #fff
		+f700 
	&__main
		padding: 15px 20px 13px
	&__title
		margin-bottom: 10px
		color: $dark
		line-height: 1.3
		font-size: 17px
		+f700 
		+tr(color .3s)
	&__meta
		+clr
	&__count
		position: absolute
		right: 24px
		top: 24px
		z-index: 2 
		.count
			float: none
			color: #fff 
	.count
		float: left
	.meta
		float: right
	&__in
		padding: 20px 30px 8px
		position: relative 
	&__cat
		margin-bottom: 6px
		font-size: 11px
		+f900
		color: #8f8f8f
		text-transform: uppercase 
		a
			color: #8f8f8f
			+tr(color .3s)
			&:hover
				color: $orange 
	&__main-cat
		margin-bottom: 16px
		color: #686868 
	&__cat-more
		border-top: 1px solid #EDEDED
		padding: 18px 30px 10px
		margin: 0 -30px  
	&__item
		margin: 0 -30px 10px
		padding: 25px 30px 15px
		border-top: 1px solid #EDEDED
	&__link
		+cyr_500
		color: #898989
		display: inline-block
		line-height: 1.2
		font-size: 18px 
		+tr(color .3s)
		&:hover
			color: $orange 
	&__author
		position: absolute
		left: 24px
		top: 24px
		color: #fff
		z-index: 2 
		font-size: 14px
		+f700
		span
			+it
	&__head
		position: absolute
		left: 24px
		right: 24px
		bottom: 25px
		z-index: 2
		color: #fff 
		font-size: 16px
		line-height: 1.3
		+f900
		.badge
			margin-bottom: 10px
			position: static
	&__detail
		color: $blue 
		font-size: 17px
		+f500 
		text-transform: none
	.btn-play
		z-index: 2
	.user-info
		text-align: left
.post_group
	&:hover
		.post__title
			color: $dark 
	.post__media
		margin-bottom: 18px
		&:before
			border-radius: 4px
	img
		border-radius: 4px 
	.icon-string
		position: absolute
		right: 30px
		top: 0
		color: $orange 
		font-size: 30px
	.post__title
		+f700
		font-size: 18px
		line-height: 1.1
		&:hover
			color: $orange 
.post_media
	border-bottom: 0
	.post__media
		img,
		&:before
			border-radius: 4px 
		.count
			i
				color: #DFE0E6 

.post_pop
	padding: 20px 24px 
	background: $red
	color: #fff
	+tr(background .3s)
	&:hover
		background: $red_h 
		.post__title
			color: #fff 
	.badge
		position: static
		padding: 0
		margin-bottom: 10px
		background: none
	.post__title
		margin-bottom: 15px
		font-size: 28px
		color: #fff
		+f900
		line-height: 1.2 
	.meta
		+it
		float: none
		color: #d8d9d9 
		i
			margin-right: 5px
	.user-info
		margin: 0
		padding-top: 35px
		&:before
			display: none
		&__name
			color: #fff
		.meta
			margin-bottom: 6px
			+it

	.pic
		width: 70px
		height: 70px
		
.post_card
	height: 294px
	width: 314px
	overflow: hidden
	text-align: left
	&:hover
		.post__overlay
			opacity: 1
	.post__overlay
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		z-index: 1
		border-radius: 4px 4px 0 0 
		opacity: 0.7
		+gpu
		+tr(opacity .3s)
		background-image: linear-gradient(rgba(#000,.2), rgba(#000,.7)) 
	.post__media
		&:before
			display: none
	.post__head
		font-size: 18px
		color: #fff 
		text-transform: uppercase
		a
			color: #fff 
		.post__detail
			color: $blue
.post_width
	width: 100%
	+r($l)
		width: 29.3%
	+r($m)
		width: 39.9%
	+r($s)
		width: 100%
.el-wrap
	font-size: 0
	+r($s)
		text-align: center
	.el
		display: inline-block
		vertical-align: top
		margin: 0 40px 40px 0 
		width: 313px
		+r($l)
			width: 292px
			margin: 0 14px 14px 0
			height: 273px
		+r($m)
			width: 312px
			height: 283px
			margin: 0 32px 32px 0 
		+r($s)
			margin-right: 0
		+r($sr)
			margin-bottom: 20px
			width: 300px
			height: 280px
		&:nth-child(3n)
			margin-right: 0
			+r($m)
				margin-right: 32px
			+r($s)
				margin-right: 0
		&:nth-child(2n)
			+r($m)
				margin-right: 0
	.el__img
		+r($l)
			width: 100%
			height: 273px
		+r($m)
			height: 282px
		+r($sr)
			height: 280px

.el
	position: relative
	height: 294px
	width: 314px
	overflow: hidden
	text-align: left
	+r($m)
		width: 294px
		height: 274px
	&:hover
		.el__overlay
			opacity: 1
	&.is-active
		> .el__meta,
		> .el__info,
		.slick-dots
			opacity: 0
			z-index: 1 
		.el__back
			opacity: 1
			z-index: 2 
	&.is-marked
		box-shadow: 0 0 0 8px $yellow 
		border-radius: 3px 
		img
			border-radius: 0 
		.el__name
			a
				color: $yellow 
	&__slider
		position: relative
		z-index: 1
	&__img
		position: relative
		border-radius: 4px	
		display: block
		height: 294px
		overflow: hidden
		width: 314px
		+r($m)
			width: 294px
			height: 274px
		img
			border-radius: 4px
	&__overlay
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		z-index: 1
		border-radius: 4px 4px 0 0 
		opacity: 0.7
		//+gpu
		z-index: 2
		+tr(opacity .3s)
		background-image: linear-gradient(rgba(#000,.2), rgba(#000,.7)) 
	&__meta
		position: absolute
		top: 15px
		right: 24px
		left: 0
		z-index: 2
		+gpu
		text-align: right
	.count
		color: #fefefe
		i
			color: #efefed 
	&__info
		position: absolute
		left: 20px
		bottom: 35px
		z-index: 2
		+gpu
	&__name
		font-size: 18px
		+f900
		color: #fff
		//+gpu
		text-transform: uppercase
		a
			color: #fff 
		+r($sr)
			+f700
			font-size: 16px
	&__details
		color: $blue
		font-size: 17px
		+f500
		+r($sr)
			font-size: 14px
		a
			color: $blue
	&__back
		position: absolute
		padding: 20px 
		top: 0
		right: 0
		bottom: 0
		left: 0
		border-radius: 4px
		text-align: center
		opacity: 0
		z-index: -1
		//+gpu
		background: rgba(#3c3d41,.7) 
		+tr(opacity .3s)
		.el__info
			position: static
	&__action
		position: absolute
		left: 0
		right: 0
		top: 115px
		.btn-simple
			margin-bottom: 20px
	.price
		position: absolute
		bottom: 23px
		left: 0
		right: 0
	.slick-list
		z-index: 1
	.slick-dots
		z-index: 2
		bottom: 10px
		padding-right: 27px
		text-align: right
		//+gpu
		li
			padding: 7px
			cursor: pointer
			&:focus
				outline: none
			&:hover
				button
					background: rgba(#fff,.8)
		button
			width: 8px
			height: 8px
			+tr(background .3s)
		.slick-active
			button
				box-shadow: none 
				background: rgba(#fff,.45) 
	.i-protect
		vertical-align: top
		margin: 2px 0 0 5px
		+svg(protect,15,16)
	.badge
		position: absolute
		left: 0
		top: -3px
		&__icon
			transform: rotate(180deg)
.price
	color: #fff 
	+f500
	font-size: 24px
	span
		color: $red 
.badge
	position: relative
	display: inline-block
	padding: 4px 8px 3px
	min-width: 60px
	font-size: 12px
	color: #fff
	line-height: 1
	text-align: center
	+f900
	border-radius: 3px 
	text-transform: uppercase
	&_red
		background: $red 
	&__icon
		display: block
		position: absolute
		left: 0
		top: 0
		
		color: #ef5f54
		font-size: 30px
	&__text
		position: relative
		z-index: 2
		line-height: 30px
		height: 30px
		+f900
		font-size: 16px
.btn-play
	position: absolute
	left: 50%
	top: 50%
	margin: -38px 0 0 -38px
	border: 2px solid #fff
	width: 76px
	height: 76px
	line-height: 76px
	text-align: center
	border-radius: 50% 
	&:after
		content: ""
		display: inline-block
		vertical-align: middle
		margin-left: 10px
		+arr(22,26,#fff,r) 

.widget
	margin: 0 3.7% 3.95% 0
	width: 29.3%
	border-bottom: 1px solid $border 
	background: #fff
	border-radius: 4px
	overflow: hidden 
	+tr(box-shadow .3s)
	color: #3d3e43
	+r($m)
		margin: 0 5% 5% 0
		width: 43.9%
	+r($s)
		width: 100%
		margin: 0 0 5%
	&:hover
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16)
	&__in
		padding: 20px 20px 17px
	&__head
		margin-bottom: 25px
		+clr
	&__title
		float: left
		+f900
		font-size: 15px
		text-transform: uppercase 
	&__name
		float: right
		+it
		a
			color: $orange
			+tr(color .3s)
			&:hover
				color: $red 
	&__body
		margin-bottom: 42px
		font-size: 0
		overflow: hidden
	&__img
		float: left
		width: 91px
		height: 91px
		+vertical
		overflow: hidden
		+r($l)
			width: 81px
			height: 81px
		+r($s)
			width: 33.2%
			height: 33.2%
		&:hover
			img
				opacity: .9 
		a
			display: inline-block
			vertical-align: middle
		img
			display: block
			height: auto
			width: 100%
			+gpu
			+tr(opacity .3s)
			

	&__footer
		text-transform: uppercase
		color: #8f8f8f 
		text-align: center
		font-size: 13px
		+f900
		a
			color: #8f8f8f 
			+tr(color .3s)
			&:hover
				color: $orange 
.ad
	margin: 47px 0 
	text-align: center
	// &_sidebar
	// 	+r($l)
	// 		display: none
	img
		max-width: 100%
		border-radius: 4px 
		
.reviews-wrap
	font-size: 0
.review
	display: inline-block
	vertical-align: top
	position: relative
	margin: 0 3.95% 3.95% 0
	width: 30.7%
	+r($m)
		width: 47.2%
		margin: 0 5.3% 5.3% 0
	+r($s)
		width: 100%
		margin: 0 0 5% 
	&:nth-child(3n)
		margin-right: 0
	&:nth-child(2n)	
		+r($m)
			margin-right: 0
	.comment
		margin-bottom: 22px
	.user-info
		.pic
			width: 54px
			height: 54px
.comment
	position: relative
	padding: 15px 15px 15px 24px 
	color: #3d3e43
	font-size: 17px
	+f500 
	line-height: 1.2
	border-radius: 4px 
	background: #dedede 
	&:after
		content: ""
		position: absolute
		left: 20px
		bottom: -10px
		+arr(16,10,#dedede,b) 
	
.btn-medium
	height: 48px
	line-height: 48px
	font-size: 18px
	+f700
.btn-tiny
	padding-left: 5px
	padding-right: 5px
	height: 32px
	line-height: 32px
	font-size: 12px
.btn-new
	background: #00c1f6
	&:hover
		background: darken(#00c1f6, 5%)
	&:active
		background: darken(#00c1f6, 10%)
.btn-full-width
	display: block
	width: 100%
	text-align: center
	
.pagination
	text-align: center
	
.popup
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 20
	+cover
	+vertical
	display: none
	overflow-y: auto
	overflow-x: hidden
	+r(480)
		padding: 10px 
	&:after
		content: ""
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		background: rgba(#3c3d41, .8) 
	&__in
		display: inline-block
		position: relative
		z-index: 2
		vertical-align: middle
		width: 420px
		font-size: 17px
		color: #ccc
		+f300 
		+r(480)
			width: 100%
	&__close
		position: absolute
		right: 0
		top: 0
	&__note
		margin: 15px 0 
		padding: 0 35px 
		color: #8f8f8f
		font-size: 15px
		+f300 
		a
			color: #8f8f8f
			+tr(color .3s)
			border-bottom: 1px solid 
			&:hover
				color: #fff 
				border-color: transparent 
	&__close
		width: 32px
		height: 32px
		position: absolute
		right: 36px
		top: 36px
		font-size: 32px
		color: #fff
		background: none 
		+s($close)
		z-index: 2
		+r($s)
			top: 10px
			right: 10px
	.logo
		+svg(logo,190,43)
		+r($s)
			+svg(logo,131,30)
	.tabs
		margin-bottom: 20px
		background: none
		font-size: 17px
		border-bottom: 1px solid #8f8f8f 
		+f500
		li
			text-transform: none
			width: 50%
		.indicator
			right: 0
			width: 50%
	.soc-title
		margin-bottom: 8px
	.soc
		a
			color: #fff
			width: 60px
			height: 60px
			line-height: 60px
		.icon-vk
			font-size: 26px
			+r($s)
				font-size: 18px
		.icon-fb
			font-size: 30px
			+r($s)
				font-size: 22px
		.icon-tw
			font-size: 26px
			+r($s)
				font-size: 18px
		.icon-od
			font-size: 36px
			+r($s)
				font-size: 28px
	
	.btn-medium
		height: 50px
		line-height: 50px
		text-transform: uppercase
		+f900
		font-size: 19px
		
.or
	overflow: hidden
	margin: 8px 0 20px 
	text-align: center
	span
		display: inline-block
		position: relative
		&:before,
		&:after
			content: ""
			position: absolute
			top: 50%
			height: 1px
			background: rgba(#fff, .3)
			width: 300px
		&:before
			left: -315px
		&:after
			right: -315px
			
.tabs-cont
	display: none