@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?awwgn7');
	src:url('../fonts/icomoon.eot?#iefixawwgn7') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?awwgn7') format('truetype'),
		url('../fonts/icomoon.woff?awwgn7') format('woff'),
		url('../fonts/icomoon.svg?awwgn7#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-slick-next:before {
	content: "\e60f";
}
.icon-slick-prev:before {
	content: "\e61e";
}
.icon-logo-red .path1:before {
	content: "\e61f";
	color: rgb(35, 192, 241);
}
.icon-logo-red .path2:before {
	content: "\e620";
	margin-left: -0.8955078125em;
	color: rgb(37, 110, 182);
}
.icon-logo-red .path3:before {
	content: "\e621";
	margin-left: -0.8955078125em;
	color: rgb(255, 255, 255);
}
.icon-badge:before {
	content: "\e600";
}
.icon-caret-d:before {
	content: "\e601";
}
.icon-caret-l:before {
	content: "\e602";
}
.icon-caret-r:before {
	content: "\e603";
}
.icon-check:before {
	content: "\e604";
}
.icon-clock:before {
	content: "\e605";
}
.icon-comment:before {
	content: "\e606";
}
.icon-del:before {
	content: "\e607";
}
.icon-fb:before {
	content: "\e608";
}
.icon-glass:before {
	content: "\e609";
}
.icon-ig:before {
	content: "\e60a";
}
.icon-invalid:before {
	content: "\e60b";
}
.icon-like:before {
	content: "\e60c";
}
.icon-link-out:before {
	content: "\e60d";
}
.icon-map:before {
	content: "\e60e";
}
.icon-od:before {
	content: "\e610";
}
.icon-pencil:before {
	content: "\e611";
}
.icon-pin:before {
	content: "\e612";
}
.icon-pin-hover:before {
	content: "\e613";
}
.icon-plus:before {
	content: "\e614";
}
.icon-quotes:before {
	content: "\e615";
}
.icon-sc:before {
	content: "\e616";
}
.icon-skype:before {
	content: "\e617";
}
.icon-star:before {
	content: "\e618";
}
.icon-string:before {
	content: "\e619";
}
.icon-tw:before {
	content: "\e61a";
}
.icon-valid:before {
	content: "\e61b";
}
.icon-view:before {
	content: "\e61c";
}
.icon-vk:before {
	content: "\e61d";
}
