.i-protect
	display: inline-block
	vertical-align: middle
	+svg(protect,24,28)
.i-check
	display: inline-block
	vertical-align: middle
	+svg(check,42,42)
.i-question
	display: inline-block
	vertical-align: middle
	+s($question)
	cursor: pointer
.i-tel
	display: inline-block
	vertical-align: middle
	+svg(tel,19,28)