.main-col
	float: left
	width: 65.6%
	+r($l)	
		float: none
		width: 100%
.sidebar
	float: right
	width: 30.5%
	+r($l)	
		float: none
		width: 100%
	.post
		margin-bottom: 40px
	.ad
		&:last-child
			margin-bottom: 0
.article
	margin-top: 54px
	font-size: 15px
	+f500
	line-height: 1.15
	color: $gray  
	
	+r($m)
		margin-top: 30px
		font-size: 16px
	+r($s)
		margin-top: 20px 
		font-size: 14px
	.meta
		+f300i
		font-size: 14px 
		color: #8f8f8f 
	h1
		+f900
		font-size: 42px
		text-align: center
		margin-bottom: 27px
		color: $gray_d
		line-height: .8 
		+r($l)
			font-size: 40px
		+r($m)
			font-size: 35px
		+r($s)
			font-size: 28px
	h2
		font-size: 22px
		letter-spacing: -.2px 
		color: $gray
		margin: 48px 0 26px 
		+f700
		line-height: 1.2
		+r($m)
			font-size: 22px
			margin: 35px 0 20px 
		+r($s)
			font-size: 20px
			margin: 20px 0 20px 
	h3
		font-size: 19px
		+f700
		color: $gray_d 
		margin: 26px 0 15px 
		+r($s)
			font-size: 18px
			margin: 20px 0 10px 
	h4
		font-size: 12px
		text-transform: uppercase
		color: $gray_d
		+f900
		margin: 24px 0 13px  
		+r($s)
			font-size: 12px
			margin: 20px 0 10px  
	blockquote
		margin: 25px 0
		padding: 25px 0 33px 34px
		font-size: 27.57px
		+cyr_500
		line-height: 1
		color: $gray_d
		border-left: 4px solid  $yellow_l 
		+r($m)
			font-size: 25px
			padding: 23px 0 31px 32px
		+r($s)
			font-size: 20px
	ul:not([class])
		column-count: 3
		color: #3d3e43
		+f500
		font-size: 17px
		+r($m)
			column-count: 2
		+r($s)
			column-count: 1
		li
			position: relative
			margin-bottom: 6px
			padding-left: 10px
			display: block
			&:before
				content: ""
				position: absolute
				left: 0
				top: 8px
				width: 4px
				height: 4px
				border-radius: 50%  
				background: #000 
	&__top
		text-align: center
		+r($s)
			.count
				margin-left: 9px
				margin-bottom: 9px
				i
					margin-right: 1px 
		.tag
			margin-bottom: 27px
			+r($s)
				margin-bottom: 20px
	&__in
		position: relative
		padding-left: 109px
		+r($s)
			padding-left: 0
		.user-info
			position: absolute
			top: 4px
			left: -50px
			+r($l)
				left: 0
			+r($s)
				position: static
				margin-bottom: 20px
		.pic
			margin-bottom: 12px

		.user-info_someone
			left: -52px
			top: -6px
			+r($l)
				left: -15px
			+r($m)
				left: -5px
		.tags-cloud,
		.share
			+r($s)
				text-align: left
				// margin-left: -85px
.article-gallery
	font-size: 0
	.fancybox-media
		font-size: 20px
	.link-all
		font-size: 12px
		img
			display: none
	&__hidden
		display: none
	figure
		display: inline-block
		position: relative 
		vertical-align: top 
		width: 30.5%
		margin: 4.2% 4.2% 2% 0
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3)
			margin-top: 0
		+r($s)
			width: 100%
			margin-right: 0
		&:before
			content: ""
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			pointer-events: none
			background: rgba(#000,.2)  
			+tr(background .3s)
		&:hover
			&:before
				background: rgba(#000,0)  
		&:nth-child(3n)
			margin-right: 0
		a
			display: block
		img
			display: block
			width: 100%
			-webkit-border-radius: 3px 
			border-radius: 3px 
		.btn-play
			margin: -23px 0 0 -23px 
			width: 47px
			height: 47px
			line-height: 47px
			&:after
				margin-left: 5px
				+arr(14,16,#fff,r)
		figcaption
			position: absolute
			left: 15px
			bottom: 10px
			color: #fff
			z-index: 2 
			+f500
			font-size: 12px
.link-icon
	margin-left: 30px
	padding: 0 5px 
	&:first-child
		margin-left: 0
	+r($l)
		margin-left: 10px
	+r($s)
		margin: 5px auto
	&:hover
		i
			color: darken($gray_m,15%) 
	&:active
		i
			color: lighten($gray_m,15%) 
	i
		
		font-size: 11px
		color: $gray_m 
		+transition(color .2s)
.share
	margin-top: 30px
	+r($m)
		margin-top: 25px
	+r($s)
		margin-top: 20px
	li
		margin: 0 0 17px 17px
		display: inline-block
		font-size: 0
		vertical-align: middle
		&:first-child
			margin-left: 0
			
		+r($m)
			&:first-child
				margin-left: 0
		&:nth-child(3n)
			+r($s)
				margin-left: 0
	&__link
		padding: 10px 10px 10px 8px
		display: inline-block
		font-size: 11px
		+f700
		text-transform: uppercase 
		color: #fefefe
		width: 116px
		border-radius: 3px
		line-height: 1
		&.is-like
			border: 2px solid $gray_l
			background-color: transparent
			text-align: center
			position: relative
			vertical-align: middle
			color: #aaaaaa 
			transition: border-color .2s, color .2s
			i
				color: #b8c6c7
				position: absolute
				left: 8px
				top: 50%
				margin-top: -6px
				vertical-align: middle
				transition: color .2s
			span
				position: absolute
				padding: 2px 5px 
				right: 6px
				font-size: 9.75px 
				margin-top: -2px
				color: #fff
				background-color: #b8c6c7
				border-radius: 8px
				transition: background-color .2s
			&:hover
				border-color: darken($gray_l,10%)
				color: darken(#aaa,10%)
				i
					color: darken(#b8c6c7,10%) 
				span
					background-color: darken(#b8c6c7,10%)
		&.is-fb
			background-color: $fb
			transition: background-color .2s
			i
				margin-right: 7px 
			&:hover
				background-color: darken($fb,10%) 
		&.is-tw
			background-color: $tw
			transition: background-color .2s
			i
				margin-right: 7px 
			&:hover
				background-color: darken($tw,10%) 
.recall
	margin-top: 70px
	+clr
	+r($l)
		margin-top: 40px
	.pic
		float: left  
		width: 55px
		height: 55px
		margin-right: 12px
		+r($s)
			width: 44px
			height: 44px
	.meta
		font-size: 11.58px
		color: $gray_m 
	&__general
		position: relative
		margin-bottom: 35px
		+r($s)
			margin-bottom: 20px
		.btn-pen
			position: absolute
			right: 0
			top: -10px
		.title-group
			margin-right: 19px 
	&__comment
		padding: 26px 0
		border-top: 2px solid #ececec
	&__name
		+f900
		display: inline-block
		text-transform: uppercase 
		color: #333
		font-size: 10px 
		margin-right: 37px		 
	&__right
		overflow: hidden
		
	&__text
		font-size: 12px
		+f100i
		margin: 9px 0
		color: $gray_m


.rating
	display: inline-block
	vertical-align: baseline
	&_small
		.raty
			img
				width: 12px
				margin-left: 3px
	&_big
		.raty
			img
				width: 17px
	&__stars
		display: inline-block
		// width: 94px
		+clr
	&__star
		background-color: transparent
		font-size: 16px
		color: #d9d9d9 
	&__mark
		display: inline-block
		margin-left: 20px 
		font-size: 17px 
		color: #3D3E43 
		+f500
		font-style: italic
		span
			font-style: normal
			color: $gray_m
	&__text
		margin-left: 16px 
		color: #686868
		font-size: 11.6px
		+f500
.raty
	text-align: justify
	white-space: nowrap
	line-height: 0
	font-size: 0
	margin-right: 4px 
	float: left
	img 
		width: 15px
		margin-left: 4px
		&:first-child
			margin-left: 0

.btn-pen
	height: 42px
	width: 42px
	background-color: transparent
	border: 2px solid #e5e5e5
	border-radius: 50% 
	transition: border-color .2s
	i
		color: #949b9a
		transition: color .2s
	&:hover
		border-color: darken(#e5e5e5,10%)
		i
			color: darken(#949b9a,10%)
.to-comment
	padding: 24px 0
	background-color: #fefefe  
	+r($s)
		background: none
	&__top
		padding-bottom:  17px
		border-bottom: 2px solid #f3f3f3
		text-align: center
	&__name
		display: inline-block
		font-size: 10px
		color: #333 
		+f700
		text-transform: uppercase
	&__main	 
		padding: 11px 30px 0 25px
		+clr
		+r($s)
			padding:  11px 0px 0 0px
		.pic
			float: left
			width: 55px
			height: 55px
			margin-right: 28px
			+r($s)
				width: 44px
				height: 44px
				margin-right: 12px
	&__right
		overflow: hidden
		textarea
			padding: 10px 
			background-color: #eeeeee 
			height: 95px
			width: 100%
			border: none
			border-radius: 3px
			font-size: 14px
			+f100i
			color: $gray_d
			resize: none
			transition: background-color .2s
			&:focus
				background-color: lighten(#eeeeee,2%)
	&__bottom
		+clr
		margin-top: 11px 
		.rating
			float: left
			margin-top: 10px
			+r($s)
				float: none
				margin: 10px auto
		.btn-simple
			float: right
			font-size: 9px
			color: #333333 
			height: 33px
			line-height: 33px
			+r($s)
				float: none
				margin: 0 auto
.article-slider
	margin-top: 33px
	visibility: hidden
	opacity: 0
	&.is-ready
		visibility: visible
		opacity: 1 
	.slick-slide
		img
			width: 100%
	&__slide
		position: relative
		h1,
		h2,
		span
			position: absolute
			font-size: 18.7px
			color: #FFF 
			left: 29px 
			z-index: 5
			margin: 0
		h1
			+f700
			top: 25px
		h2
			+f900
			right: 60px
			bottom: 19px
		span
			right: 17px
			bottom: 23px
			left: auto 
			+f500 
	.slick-prev,
	.slick-next
		position: absolute
		top: 50%
		width: 20px
		height: 36px
		margin-top: -25px
		font-size: 26px
		background: none
		text-align: center
		+hide-text
		z-index: 2
		color: #fff
		+tr(color .3s)
		&:focus
			outline: none
		&:hover
			color: $red 
		&:before
			+icon
			vertical-align: middle
			font-size: 26px
		&.slick-disabled
			display: none !important
	.slick-prev
		left: 30px
		&:before
			content: "\e61e"
	.slick-next
		right: 30px
		&:before
			content: "\e60f"
		
.map
	margin: 0 -40px 
	height: 285px
	+r($s)
		max-height: 30vh
		margin: 0 -15px 
.pseudolink-wrap
	margin: 11px 0
	text-align: center 
.pseudolink
	display: inline-block
	font-size: 13px
	+f500
	color: #8F8F8F
	border-bottom: 1px dashed  
	cursor: pointer
	+tr(border .3s)
	text-align: center
	&:hover
		border-color: transparent 

.mark
	margin: 32px 0 0 
	+clr
	span
		float: left
		width: 50%
		font-size: 17px
		+f500
		color: #9d9e9e 
		&:last-child
			padding-left: 25px
			float: right
	strong
		color: #5B5B5B
	.icon-like
		margin-right: 10px
		color: #ef5f54
		font-size: 15px 
	.i-protect
		margin-right: 10px
		width: 17px
		height: 19px
		background-size: 17px 19px 
	+ .masonry-items
		margin-top: 28px

.infocard
	position: relative
	margin-top: 28px
	background: #fff
	margin-bottom: 40px 
	border-radius: 3px 
	&__in
		padding: 25px 
	&__head
		padding: 22px 33px 19px
		color: $red
		font-size: 15px
		+f900
		text-transform: uppercase 
	&__details
		position: relative
		float: right
		padding-right: 20px
		color: $blue
		+f500
		font-size: 17px  
		&:after
			content: $i-arr
			position: absolute
			top: 50%
			margin-top: -4px
			right: 0
			+i 
			font-size: 8px
	&__window
		opacity: 0
		visibility: hidden
		position: absolute
		top: 40px
		right: 0
		left: 0
		z-index: 2
		border: 2px solid #d9d9d9
		border-top: 0
		padding: 10px 
		background: #fff
		border-radius: 0 0 4px 4px 
		+tr(opacity .3s)
		&.is-active
			opacity: 1
			visibility: visible
	.badge
		position: absolute
		right: 0
		top: 30px
		padding: 2px 8px 3px
		text-align: center 
	.btn
		margin: 25px 0
	&__footer
		background: #ebebeb 
		border-radius: 0 0 3px 3px
	&__more
		text-transform: uppercase
		text-align: center
		font-size: 14px
		+f900
		a
			padding: 13px 20px
			display: block
			color: #898989
			+tr(color .3s)
			&:hover
				color: $red 
	&__contacts
		display: none
		&.is-active
			display: block
	.price-box
		+r($l)
			float: left
			width: 50%
		+r($m)	
			float: none
			width: 100%
	&__action
		+r($l)
			float: left
			margin-top: 20px
			width: 50%
		+r($m)
			width: 100%
			margin-top: 0
	.details
		+clr
		li
			+r($l)
				float: left
				width: 50%
				margin-top: 0
			+r($m)
				float: none
				margin-top: 20px
				width: 100%
			&:first-child
				+r($m)
					margin-top: 0
	&__topper
		position: relative
		padding: 0 2rem 
		height: 40px
		line-height: 40px
		background: #d9d9d9 
		border-radius: 4px 4px 0 0
		+ .badge
			top: 60px
.track
	position: relative
	border-top: 1px solid #ebebeb 
	padding: 0 65px 0 70px
	background: #f9f9f9 
	height: 50px
	line-height: 50px

	&__btn
		position: absolute
		left: 25px
		top: 50%
		margin-top: -16px
		width: 32px
		height: 32px
		-webkit-border-radius: 50% 
		border-radius: 50% 
		background: #fefefe 
		border: 1px solid #ececec
		+tr(border .3s)
		&:after
			content: ""
			position: absolute
			left: 12px
			top: 10px
			+arr(10,12,#969ea0,r) 
		&:hover
			border-color: #969ea0 
	&__name
		font-size: 14px
		text-transform: uppercase
		color: #686868 
		+f900
		+text-overflow
	&__duration
		position: absolute
		right: 23px
		top: 0
		color: #8f8f8f
		font-size: 14px
		+f500 
	&__progress
		display: none
		position: absolute
		left: 0
		bottom: 0
		height: 3px
		background: $red 
	&.is-active
		.track__progress
			display: block
		.track__btn
			background: #808a8c
			border-color: #808a8c
			&:after,
			&:before
				content: ""
				position: absolute
				border: 0
				height: 10px
				width: 2px
				background: #fefefe
				top: 50%
				margin-top: -5px
			&:before
				left: 12px
			&:after
				left: 16px	
.link
	display: inline-block
	color: $blue 
	font-size: 14px
	+f300
	line-height: 1
	+tr(border .3s)
	&_out
		border-bottom: 1px dashed
		&:hover
			border-color: transparent 

.price-box
	color: $blue
	font-size: 34px
	+f700
	span
		display: block
		color: $blue 
		font-size: 14px
		+cyr_500
.details
	color: #686868
	font-size: 14px
	+f500 
	li
		display: table
		margin-top: 20px
		&:first-child
			margin-top: 0
	i, span
		display: table-cell
		vertical-align: middle
		white-space: normal
	span
		padding-left: 20px
		+cyr_500
		em
			font-style: normal
			font-weight: bold
			color: #333 
			
.pagename
	+clr
	margin-top: 180px
	color: #fefefe 
	+r($m)
		margin-top: 120px
		text-align: left
	+r($s)
		margin-bottom: 10px
		margin-top: 100px
	&__icon
		float: left
		margin-right: 28px
		font-size: 64px
		+r($m)
			font-size: 44px
	&__text
		overflow: hidden
		+f900
		line-height: 1
		font-size: 24px
		+r($s)
			font-size: 20px
		p
			max-width: 160px
		span
			font-size: 40px
			+r($m)
				font-size: 30px
	
.descr
	margin-top: 180px
	+r($m)
		margin-top: 0
		text-align: left
	&__title
		position: relative
		padding-bottom: 27px
		margin-bottom: 10px
		font-size: 24px
		color: #FFF
		+f700
		max-width: 470px 
		+r($s)
			font-size: 20px
		&:after
			content: "" 
			position: absolute
			bottom: 0
			left: 0
			height: 6px
			width: 38px
			background: $red
	&__text
		color: #FFF
		font-size: 18px
		+f700
		+r($s)
			font-size: 16px
		span
			color: $red
		em
			font-style: normal
			color: $blue
		p
			margin-bottom: 15px
.manual
	position: relative
	+cover
	.container
		padding: 2.5rem 10px 3rem
		min-height: 480px
		+r($m)
			min-height: 400px
	.title
		color: #eae9e7
	&__info
		position: relative
		padding: 22px 
		background: #fff
		color: #3d3e43
		font-size: 24px
		line-height: 1.4
		border-radius: 5px
		font-variant: small-caps 
		min-height: 200px
		+r($m)
			font-size: 20px
			min-height: 150px
	&__slider
		position: absolute
		bottom: 30px
		left: 10px
		right: 10px
		.slick-slider
			padding-top: 50px
		.slick-dots
			top: 0
			left: 0
			right: 0
			height: 30px
			text-align: center
			width: 100%
			display: table !important
			table-layout: fixed
			li
				padding: 0
				display: table-cell
				vertical-align: middle
				&:first-child
					button
						margin-left: 45px
						+r($m)
							margin-left: auto
				&:last-child
					button
						float: right
						margin-right: 45px
						+r($m)
							float: none
							margin-right: auto
			button
				margin: 0 auto 
				width: 30px
				height: 30px
				background: #fff
				border-radius: 50%
				color: #686868
				font-size: 21px
				+f500
				line-height: 1
				box-shadow: none 
				&:after
					content: ""
					position: absolute
					left: 50%
					margin-left: -10px
					bottom: -21px
					opacity: 0
					+arr(20,10,#fff,t) 
					transition: opacity 200ms ease
			.slick-active
				position: relative	
				button
					position: relative
					background: $red 
					color: #fff 
					box-shadow: none 
					&:after
						opacity: 1
.alreay
	position: relative
	+cover
	padding: 50px 0 
	.title
		max-width: 65%
		color: #fff 
		text-align: left
		+r($m)
			max-width: 100%
.help_new
	min-height: 360px
	.subtitle
		margin-bottom: 40px
	.btn
		+r($m)
			float: left
			margin-bottom: 20px
.help_feedback
	+cover
	padding: 65px 0 75px
	+r($m)
		padding: 30px 0 
	.field__title
		color: #fff 
	.help__left
		margin-bottom: 60px
		+r($m)
			margin-bottom: 0
	.help__right
		+r($m)
			margin-bottom: 20px
.help__link
	display: inline-block
	border-bottom: 1px solid transparent 
	color: white
	font-size: 18px
	+tr(border .3s)
	+r($m)
		font-size: 16px
	+r($s)
		font-size: 14px
	&:hover
		border-color: rgba(#fff, .7) 
.user-info_left
	text-align: left
.section-news_new
	padding-top: 65px
	+r($m)
		padding-top: 30px
	.title-group
		margin-bottom: 60px
		+r($m)
			margin-bottom: 30px
.ps-container
	width: 100%
	margin-bottom: 10px
	position: relative
	.reviews-wrap
		white-space: nowrap
	.review
		white-space: normal
		&:nth-child(3n)
			margin-right: 3.95%
		&:last-child
			margin-right: 0
.title-number
	margin: 0 0 20px 
	color: #3d3e43
	font-size: 24px
	line-height: 1.4
	font-variant: small-caps
	+r($m)
		font-size: 20px
	+r($s)
		font-size: 16px
	span
		display: inline-block
		position: relative
		margin-right: 10px
		color: $red
		font-size: 36px
		+r($m)
			font-size: 30px
		+r($s)
			font-size: 20px
		&:after
			content: ""
			position: absolute
			bottom: 0
			left: 0 
			width: 90px
			height: 2px
			background: $red

.list-icon	
	color: #898989
	+f300
	font-size: 16px
	line-height: 1.4
	+r($s)
		font-size: 14px
	li
		padding-left: 60px
		margin-bottom: 27px
		position: relative
		+r($s)
			padding-left: 50px
		.i-icon
			position: absolute
			left: 10px
			font-size: 25px
			color: $red 
			+r($s)
				font-size: 20px
		&:last-child
			margin-bottom: 0
.program-badge
	position: absolute
	z-index: 2
	left: 0
	top: 0
	+ .card__img
		.card__title
			top: 50px
	+ .el__slider
		+ .el__meta
			+r($s)
				top: 50px
.text-right
	text-align: right
.text-center
	text-align: center
.program
	&__title
		border-bottom: 1px solid #f5f5f5 
		margin-bottom: 10px
		padding: 0 10px 4px
		font-size: 40px
		color: #ff3a00
		+f900
		line-height: 1
	&__footer
		border-top: 1px solid #f5f5f5 
		padding: 10px 
	.btn
		margin: 0
	.row
		margin: 0 -4px
		> .col
			padding: 0 4px 
.list-check
	color: #9d9e9e
	font-size: 17px
	li
		position: relative
		padding-left: 30px
		margin: 8px 0
		&:before
			content: $i-logo_mark 
			+i
			position: absolute
			left: 10px
			top: 3px
			color: $red 
			font-size: 14px