#fancybox-thumbs
	position: fixed
	left: 0
	width: 100%
	overflow: hidden
	z-index: 8050

#fancybox-thumbs.bottom
	bottom: 2px

#fancybox-thumbs.top
	top: 2px

#fancybox-thumbs ul
	position: relative
	list-style: none
	margin: 0
	padding: 0
	white-space: nowrap
#fancybox-thumbs ul li
	display: inline-block
	vertical-align: middle
	padding: 10px
	opacity: 0.5

	
	&.fancybox-thumb-active
		opacity: 1
		padding: 0
		a
			box-shadow: 0 0 0 3px #00b3d0

#fancybox-thumbs ul li:hover
	opacity: 1

#fancybox-thumbs ul li a
	display: block
	position: relative
	overflow: hidden
	outline: none
	border-radius: 5px 

#fancybox-thumbs ul li img
	display: block
	position: relative
	border: 0
	padding: 0
	border-radius: 5px 
	max-width: none
	min-height: 100%
	width: auto
