.carousel
	&__main
		opacity: 0
		visibility: hidden
		+gpu
		img
			width: 100%
		&.is-ready
			opacity: 1
			visibility: visible
		.slick-dots
			+r($s)
				bottom: -22px
				
			button
				width: 9px
				height: 9px
				background: #fefefe
				+r($s)
					background: $blue 
					width: 6px
					height: 6px
			.slick-active
				button
					background: rgba(#fefefe, .48)
					box-shadow: none
					+r($s)
						background: #fff
						box-shadow: 0 0 0 1px $blue
	&__item
		position: relative
		img
			border-radius: 5px 5px 0 0  
	&__text
		position: absolute
		top: 25px
		left: 25px
		+r($s)
			top: 15px
			left: 15px
	&__title
		margin-bottom: 8px
		font-size: 28px
		+f700
		color: #fff
		line-height: 1
		text-transform: uppercase
		+r($s)
			font-size: 22px
			text-transform: none
	&__subtitle
		color: $blue
		font-size: 21px
		+f700 
		+r($s)
			font-size: 16px
	&__nav
		padding: 15px 25px
		background: #fff
		border-radius: 0 0 3px 3px 
		+r($s)
			padding: 30px 25px 15px 
		.slick-slide
			padding: 0 3px 
		img
			-webkit-border-radius: 3px 
			border-radius: 3px 
			margin: 0 auto 
			border: 2px solid transparent
		.slick-current
			img
				border-color: $blue
		.slick-prev,
		.slick-next
			position: absolute
			top: 0
			width: 30px
			bottom: 0
			margin: 0
			height: auto
			
			&:before
				+icon
				font-size: 11px
				color: #000 
		.slick-prev
			left: -25px
			&:before
				content: "\e602"
		.slick-next
			right: -25px
			&:before
				content: "\e603"
				
.article-wrap
	margin: 45px 0 
	padding: 20px 40px
	background: #fff
	border-radius: 3px 
	+r($s)
		padding: 15px  
	.share
		margin-top: 8px
	.article
		margin: 0
		h4
			color: $red 
	.recall
		margin-top: 25px
		
.contact
	margin-bottom: 18px
	font-size: 17px
	+f300
	a
		color: #838C8B
		+tr(color .3s) 
		&:hover
			color: $red 
			.contact__text
				border-color: $red
	.icon-skype
		font-size: 24px
		color: #838C8B

	span
		display: inline-block
		vertical-align: middle
		
	&__icon
		width: 35px
		text-align: left
	&__text
		border-bottom: 1px solid transparent 

.social
	font-size: 0
	text-align: left
	a
		display: inline-block
		vertical-align: middle
		margin-left: 10%
		border: 1px solid #D9DADA
		width: 30px
		height: 30px
		text-align: center
		line-height: 30px
		border-radius: 50% 
		+tr(border .3s)
		&:first-child
			margin-left: 0
		&:hover
			border-color: $gray_d 
		i
			vertical-align: middle
			display: inline-block
	.icon-fb
		font-size: 12px
		color: #4C68A1 
	.icon-vk
		font-size: 8px
		color: #4B74A2 
	.icon-od
		font-size: 14px
		color: #ED812B 
	.icon-tw
		font-size: 11px
		color: #2AA9E0 
	.icon-ig
		font-size: 12px
		color: #748187 
.in-favorite
	margin-bottom: 20px
	text-align: center
	font-size: 19px
	+f500
	color: #686868
	i
		color: $yellow
		font-size: 15px 