.pagename
	+clr
	margin-top: 120px
	&__left
		float: left
	&__text
		overflow: hidden
		+f900
		color: #FFF 
		p
			max-width: 160px
			font-size: 24px
		span
			font-size: 40px
	
.description
	margin-top: 120px
	&__title
		font-size: 24px
		color: #FFF
		+f700
		margin-bottom: 27px 
		max-width: 470px 
		&:after
			content: "" 
			height: 6px
			width: 38px
			display: block
			margin-bottom: 9px
			background: $red 
	&__text
		color: #FFF
		font-size: 18px
		+f700
		span
			color: $red
		em
			font-style: normal
			color: #FFF
			

