@font-face
	font-family: "svgfont"
	src: url('../fonts/svgfont.eot')
	src: url('../fonts/svgfont.eot?#iefix') format('eot'), url('../fonts/svgfont.woff') format('woff'), url('../fonts/svgfont.woff2') format('woff2'), url('../fonts/svgfont.ttf') format('truetype')
	font-weight: normal
	font-style: normal

$i-arr: "\EA01"
$i-fast_access: "\EA02"
$i-fingerup: "\EA03"
$i-free: "\EA04"
$i-logo_mark: "\EA05"
$i-no_cash: "\EA06"
$i-present_icon: "\EA07"
$i-trust: "\EA08"
$i-phone: "\EA13"


%i
	font-family: "svgfont"
	font-style: normal
	font-weight: normal
	text-rendering: auto
	speak: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.i, [class^="icon-"], [class*=" icon-"]
	@extend %i
	display: inline-block

.i-arr:before
	content: $i-arr
.i-fast_access:before
	content: $i-fast_access
.i-fingerup:before
	content: $i-fingerup
.i-free:before
	content: $i-free
.i-logo_mark:before
	content: $i-logo_mark
.i-no_cash:before
	content: $i-no_cash
.i-present_icon:before
	content: $i-present_icon
.i-trust:before
	content: $i-trust
.i-phone:before
	content: $i-phone