+font(museosanscyrl_100, museosanscyrl_100)  
=f100
	font-family: "museosanscyrl_100", Arial, Helvetica, sans-serif
	 
+font(museosanscyrl_100_italic, museosanscyrl_100_italic)  
=f100i
	font-family: "museosanscyrl_100_italic", Arial, Helvetica, sans-serif 
	
+font(museosanscyrl_300, museosanscyrl_300)  
=f300
	font-family: "museosanscyrl_300", Arial, Helvetica, sans-serif 

+font(museosanscyrl_300_italic, museosanscyrl_300_italic)  
=f300i
	font-family: "museosanscyrl_300_italic", Arial, Helvetica, sans-serif 
	

+font(museosanscyrl_500, museosanscyrl_500)  
=f500
	font-family: "museosanscyrl_500", Arial, Helvetica, sans-serif 
	
+font(museosanscyrl_700, museosanscyrl_700)  
=f700
	font-family: "museosanscyrl_700", Arial, Helvetica, sans-serif 
	
+font(museosanscyrl_900, museosanscyrl_900)  
=f900
	font-family: "museosanscyrl_900", Arial, Helvetica, sans-serif 

+font(museo_cyrillic, museo_cyrillic)  
=cyr_500
	font-family: "museo_cyrillic", Arial, Helvetica, sans-serif 
	
+font(PalladaItalic, PalladaItalic)  
=it
	font-family: "PalladaItalic", Arial, Helvetica, sans-serif
	
+font(PalladaBoldItalic, PalladaBoldItalic)  
=it_bold
	font-family: "PalladaBoldItalic", Arial, Helvetica, sans-serif
	
=icon
	font-family: 'icomoon'
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
$red: #FF3A00
$orange: #FF5A00
$red_h: #CA2F23
$red_l: #EF5F54
$green: #23BD81
$dark: #2E2E30
$yellow: #fdba3a
$yellow_l: #fcd45a
$gray: #686868
$gray_d: #3d3e43
$gray_l: #ccc
$gray_m: #838c8b
$border: $gray_l
$blue: #00b3d0
$fb: #215b9a 
$tw: #01acf2
$sr: 414
$s: 767
$m: 940
$l: 1100

.hide-on-med-and-down
	+r($l)
		display: none !important
.hide-on-small-and-down
	+r($m)
		display: none !important
.hide-on-large-only
	display: none !important
	+r($l)
		display: block !important

=i
	font-family: "svgfont"
	font-style: normal
	font-weight: normal
	text-rendering: auto
	speak: none
	line-height: 1
	-webkit-font-smoothing: antialiased
.i-icon
	+i
	-moz-osx-font-smoothing: grayscale