body {
  opacity: 0;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 328px;
    height: 309px;
    animation: main-star 1s linear infinite;
    background: url(../img/star.svg) 0 0 no-repeat;
    background-size: cover;
  }
  &.pace-done {
    &:before {
      display: none;
    }
    
  }
}
// .pace {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   -webkit-pointer-events: none;
//   pointer-events: none;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   user-select: none;
//   background: #fff;
//   z-index: 100;
  
// }
@keyframes main-star {
  0%, 100% {
    transform: translate3d(-50%,-50%,0) scale(1);
  }
  50% {
    transform: translate3d(-50%,-50%,0) scale(1.2); 
  } 
}

.pace-inactive {
  //display: none;
}
