<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col l12 m12 s12">
				<div class="footer__col footer__col-1">
					<a href="#" class="logo"></a>
					<div class="copyright">
						<p>© 2015 Defete.ru </p>
						<p>All rights reserved</p>
					</div>
					<ul class="soc hide-on-large-only">
						<li><a href="#"><i class="icon-fb"></i></a></li>
						<li><a href="#"><i class="icon-tw"></i></a></li>
						<li><a href="#"><i class="icon-ig"></i></a></li>
						<li><a href="#"><i class="icon-sc"></i></a></li>
					</ul>
				</div>
				<div class="footer__col footer__col-2">
					<ul class="footer__links">
						<li><a href="#">Подать объявление</a></li>
						<li><a href="#">Условия использования</a></li>
						<li><a href="#">О компании</a></li>
						<li><a href="#">Помощь</a></li>
					</ul>
				</div>
				<div class="footer__col footer__col-3">
					<ul class="footer__nav">
						<li><a href="#">каталог</a></li>
						<li><a href="#">журнал</a></li>
						<li><a href="#">вакансии</a></li>
						<li><a href="#">реклама</a></li>
					</ul>
				</div>
				<div class="footer__col footer__col-4 hide-on-large-and-down">
					<ul class="footer__links footer__soc">
						<li><a href="#"><span><i class="icon-fb"></i></span>Facebook</a></li>
						<li><a href="#"><span><i class="icon-tw"></i></span>Twitter</a></li>
						<li><a href="#"><span><i class="icon-ig"></i></span>Instagram</a></li>
						<li><a href="#"><span><i class="icon-sc"></i></span>Soundcloud</a></li>
					</ul>
				</div>
				<div class="footer__col footer__col-5 hide-on-large-and-down">
					<div class="footer__title">подписаться на новости</div>
					<div class="subscribe">
						<form action="#">
							<input type="text" class="subscribe__input" placeholder="E-mail">
							<button class="waves-effect waves-light gray btn" type="submit"><i class="icon-slick-next"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- load scripts -->
<script src="js/main.js"></script>
<link rel="stylesheet" media="all" href="css/screen.css" >
