<div class="header header_index js-header-index">
	<div class="header__top">
		<div class="container">
			<div class="row">
				<div class="col l12 m12 s12">
					<a href="#" class="logo">defete</a>
					<div class="header__main">
						<form action="#">
							<div class="header__band">
								<select class="js-select-json" data-placeholder="Кого вы ищите?" style="width: 100%">
								</select>
							</div>
							<div class="header__city">
								<select class="js-select" data-placeholder="Кого вы ищите?" style="width: 100%">
									<option></option>
									<option value="Джаз-группа">Джаз-группа</option>
									<option value="Поп-группа">Поп-группа</option>
									<option value="Скрипач">Скрипач</option>
									<option value="Свадебный тамада, Ведущий">Свадебный тамада, Ведущий</option>
									<option value="Струнные">Струнные</option>
									<option value="Фотограф">Фотограф</option>
									<option value="Джаз-группа">Джаз-группа</option>
									<option value="Поп-группа">Поп-группа</option>
									<option value="Скрипач">Скрипач</option>
									<option value="Свадебный тамада, Ведущий">Свадебный тамада, Ведущий</option>
									<option value="Струнные">Струнные</option>
									<option value="Фотограф">Фотограф</option>
									<option value="Джаз-группа">Джаз-группа</option>
									<option value="Поп-группа">Поп-группа</option>
									<option value="Скрипач">Скрипач</option>
									<option value="Свадебный тамада, Ведущий">Свадебный тамада, Ведущий</option>
									<option value="Струнные">Струнные</option>
									<option value="Фотограф">Фотограф</option>
									<option value="Джаз-группа">Джаз-группа</option>
									<option value="Поп-группа">Поп-группа</option>
									<option value="Скрипач">Скрипач</option>
									<option value="Свадебный тамада, Ведущий">Свадебный тамада, Ведущий</option>
									<option value="Струнные">Струнные</option>
									<option value="Фотограф">Фотограф</option>
									<option value="Джаз-группа">Джаз-группа</option>
									<option value="Поп-группа">Поп-группа</option>
									<option value="Скрипач">Скрипач</option>
									<option value="Свадебный тамада, Ведущий">Свадебный тамада, Ведущий</option>
									<option value="Струнные">Струнные</option>
									<option value="Фотограф">Фотограф</option>
								</select>
							</div>
							<button class="btn waves-effect waves-light" type="submit">
								<i class="icon-glass"></i>
							</button>
							<button class="btn-menu waves-effect waves-circle waves-dark js-toggle-header" type="button">
								<i></i>
							</button>
							<button class="btn-menu btn-menu_main waves-effect waves-circle waves-dark js-toggle-menu" type="button">
								<i></i>
							</button>
						</form>
						
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header__bottom">
		<div class="container">
			<div class="row">
				<div class="col l12 m12 s12">
					<div class="header__main">
						<a href="#" class="logo">defete</a>
						<div class="search-form js-search">
							<div class="search-form__main">
								<form>
									<input type="text" class="input input_border" >
									<button type="submit" class="search-form__btn"><i class="icon-glass"></i></button>
								</form>
							</div>
							<button class="search-form__btn waves-effect waves-circle waves-dark js-toggle-search" type="button"><i class="icon-glass"></i></button>
						</div>
						<ul class="nav">
							<li><a href="#">Каталог</a></li>
							<li><a href="#">Журнал</a></li>
							<li><a href="#">Помощь</a></li>
							<li><a href="#">О нас</a></li>
						</ul>
						<div class="currency">
							<a class="currency__active js-dropdown-trigger waves-effect waves-circle waves-dark" data-dropdown="js-dropdown-1" href="#">€</a>
							<div class="dropdown js-dropdown js-dropdown-1">
								<ul class="dropdown__list">
									<li><a href="#">€  - EUR</a></li>
									<li><a href="#">$  - USD</a></li>
									<li><a href="#">₽  - RUB</a></li>
									<li><a href="#">₸  - KZT</a></li>
								</ul>
							</div>
						</div>
						<div class="favorite is-active">
							<a class="favorite__active js-dropdown-trigger waves-effect waves-circle waves-dark" data-dropdown="js-dropdown-2" href="#"><i class="icon-star"></i></a>
							<!-- <span class="counter">2</span> -->
							<div class="dropdown js-dropdown js-dropdown-2">
								<ul class="dropdown__list">
									<li class="js-parent">
										<a href="#">A.T.B </a>
										<button type="button" class="btn-del js-del"><i class="icon-del"></i></button>
									</li>
									<li class="js-parent">
										<a href="#">Radiohead</a>
										<button type="button" class="btn-del js-del"><i class="icon-del"></i></button>
									</li>
									<li class="js-parent">
										<a href="#">Muse</a>
										<button type="button" class="btn-del js-del"><i class="icon-del"></i></button>
									</li>
									<li class="js-parent">
										<a href="#">Sound DT</a>
										<button type="button" class="btn-del js-del"><i class="icon-del"></i></button>
									</li>
									<li class="js-parent">
										<a href="#">A.T.B </a>
										<button type="button" class="btn-del js-del"><i class="icon-del"></i></button>
									</li>
									<li class="js-parent">
										<a href="#">Radiohead</a>
										<button type="button" class="btn-del js-del"><i class="icon-del"></i></button>
									</li>
									<li class="js-parent">
										<a href="#">Muse</a>
										<button type="button" class="btn-del js-del"><i class="icon-del"></i></button>
									</li>
									<li class="js-parent">
										<a href="#">Sound DT</a>
										<button type="button" class="btn-del js-del"><i class="icon-del"></i></button>
									</li>
								</ul>
							</div>
						</div>
						<div class="user">
							<div class="js-dropdown-trigger" data-dropdown="js-dropdown-3">
								<div class="user__in waves-effect waves-circle waves-dark">
									<a class="user__pic" href="#">
										<img src="img/user.png" alt="user">
									</a>
								</div>
								<i class="icon-caret-d"></i>
								<span class="counter">14</span>
							</div>
							<div class="dropdown js-dropdown js-dropdown-3">
								<ul class="dropdown__list">
									<li><a href="#">Профиль</a></li>
									<li><a href="#">Уведомления <em class="counter">14</em></a></li>
									<li class="is-disaled"><a href="#">Пригласить друзей</a></li>
									<li><a href="#">Выйти</a></li>
								</ul>
							</div>
						</div>
						<button class="btn-menu btn-menu_main waves-effect waves-circle waves-dark js-toggle-menu" type="button">
							<i></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>