<div class="menu js-menu">
	<ul class="menu__nav">
		<li><a href="#">Каталог</a></li>
		<li><a href="#">Журнал</a></li>
		<li><a href="#">Помощь</a></li>
		<li><a href="#">О нас</a></li>
		<li>
			<a href="#">
				<span><i class="menu__carrency">€</i>валюта<i class="icon-caret-d"></i></span>
			</a>
			<select class="browser-default">
				<option value="€  - EUR">€  - EUR</option>
				<option value="$  - USD">$  - USD</option>
				<option value="₽  - RUB">₽  - RUB</option>
				<option value="₸  - KZT">₸  - KZT</option>
			</select>
		</li>
		<li>
			<a href="#">
				<span><i class="icon-star"></i>избранное</span>
			</a>
			<select multiple class="browser-default">
				<option value="A.T.B" selected>A.T.B</option>
				<option value="Radiohead" selected>Radiohead</option>
				<option value="Muse" selected>Muse</option>
				<option value="Sound DT" selected>Sound DT</option>
				<option value="A.T.B">A.T.B</option>
				<option value="Radiohead">Radiohead</option>
				<option value="Muse">Muse</option>
				<option value="Sound DT">Sound DT</option>
			</select>
		</li>
		<li>
			<a class="js-popup-trigger" href="#" data-popup="js-popup-login">Войти</a>
		</li>
		<li>
			<div class="search-form js-search">
				<div class="search-form__main">
					<form>
						<input type="text" class="input">
						<button type="submit" class="search-form__btn"><i class="icon-glass"></i></button>
					</form>
				</div>
				<button class="search-form__btn waves-circle waves-effect waves-dark js-toggle-search" type="button"><i class="icon-glass"></i></button>
			</div>
		</li>
	</ul>
</div>