/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path

  At the bottom of this section, we provide information about the spritesheet itself
  $spritesheet: width height image $spritesheet-sprites
  */
$close-name: 'close'
$close-x: 0px
$close-y: 0px
$close-offset-x: 0px
$close-offset-y: 0px
$close-width: 32px
$close-height: 32px
$close-total-width: 52px
$close-total-height: 32px
$close-image: 'sprite.png'
$close: 0px 0px 0px 0px 32px 32px 52px 32px 'sprite.png' 'close'
$question-name: 'question'
$question-x: 32px
$question-y: 0px
$question-offset-x: -32px
$question-offset-y: 0px
$question-width: 20px
$question-height: 21px
$question-total-width: 52px
$question-total-height: 32px
$question-image: 'sprite.png'
$question: 32px 0px -32px 0px 20px 21px 52px 32px 'sprite.png' 'question'
$spritesheet-width: 52px
$spritesheet-height: 32px
$spritesheet-image: 'sprite.png'
$spritesheet-sprites: $close $question
$spritesheet: 52px 32px 'sprite.png' $spritesheet-sprites

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)
@mixin spriter-width($sprite)
  width: nth($sprite, 5)/2
@mixin sprite-height($sprite)
  height: nth($sprite, 6)
@mixin spriter-height($sprite)
  height: nth($sprite, 6)/2
@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y
@mixin spriter-position($sprite)
  $sprite-offset-x: nth($sprite, 3)/2
  $sprite-offset-y: nth($sprite, 4)/2
  background-position: $sprite-offset-x  $sprite-offset-y
@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(../img/#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)
@mixin spriter($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)
/*
  The `sprites` mixin generates identical output to the CSS template
    but can be overridden inside of SASS

  @include sprites($spritesheet-sprites)
  */
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
@mixin spritesr($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include spriter($sprite)
