.dropdown-content {
  //@extend .z-depth-1;
 
  margin: 0;
  display: none;
  opacity: 0;
  position: absolute;
  z-index: 999;
  will-change: width, height;
  
  ul {
    border: 1px solid #d7d8d8; 
    border-radius: 5px;
    min-width: 105px;
    background-color: #fff;
    padding: 8px 8px 8px 0;
    max-height: 240px;
    overflow-y: auto;
  }
  li {
    clear: both;
    color: #727271;
    padding-right: 7px;
    cursor: pointer;
    line-height: 1.3;
    width: 100%;
    text-align: left;
    text-transform: none;

    &:hover, &.active {
      color: #FF3A00;
      & > a, & > span {
        color: #FF3A00;
      }
    }

    & > a, & > span {
      font-size: 17px;
      color: #727271;
      display: block;
      padding: 6px 0 6px 20px;
    }

    // Icon alignment override
    & > a > i {
      height: inherit;
      line-height: inherit;
    }
  }
}
