.tabs {
  position: relative;
  height: 55px;
  //background-color: $tabs-bg-color;
  margin: 0 auto;
  width: 100%;
  white-space: nowrap;

  .tab {
    display: block;
    float: left;
    text-align: center;
    line-height: 55px;
    height: 55px;
    padding: 0 20px;
    margin: 0;
    text-transform: uppercase;

    a {
      color: #8f8f8f;
      display: block;
      width: 100%;
      height: 100%;
      @include transition( color .28s ease);
      &:hover {
        color: #fff
      }
    }

    &.disabled a {
      color: lighten($tabs-text-color, 20%);
      cursor: default;
    }
  }
  .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #fff;
    will-change: left, right;
  }
}

.tabs .tab { padding: 0; }

